<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <link rel="stylesheet" href="static/css/style.css"> -->
        <title> Output </title>
        <style>
          body {
            
            margin:0;
            padding:0;
            font-family: sans-serif;
            
          }
          h1{
            color: #ffc400ec;
            padding-top: 100px;
            font-size: 50px;
          }
          h3{
            color: #ffc400ec;
            font-size: 30px;
          }
            </style>
      </head>
    <body >

        <center>
          <h1> Diabetes Prediction </h1><br>
          <h3>{{pred}}</h3>
        </center>

    </body>
</html>
