<!-- 
Online HTML, CSS and JavaScript editor to run code online.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Browser</title>
</head>

<div class="login-box">
  <h2>Diabetic Prediction</h2>
  <form class="user-box"  method="POST" action= /predict>
    <div class="user-box">
      <input type="text" name='a' >
      <label>Pregnancies</label>
    </div>
    <div class="user-box">
      <input type="text" name='b'>
      <label>Glucose</label>
    </div> 
    <div class="user-box">
      <input type="text" name='c'>
      <label>Blood Pressure</label>
    </div>
     <div class="user-box">
      <input type="text" name='d'>
      <label>SkinThickness</label>
        </div>
     <div class="user-box">
      <input type="text" name='e'>
      <label>Insulin</label>
    </div>
        <div class="user-box">
      <input type="text" name='f' >
      <label>BMI</label>
    </div>
    <div>
        <div class="user-box">
      <input type="text" name='g'>
      <label>Diabetes Pedigree Function</label>
    </div>
    <div>
        <div class="user-box">
      <input type="text" name='h'>
      <label>Age</label>
    </div>
    

    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>

</html>